@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Details</h1>
<a class="bt btn-priamry"></a></a>
<table class="table">
    <tr>
        <th>
            @Model.Name
        </th>
        <th>
            @Model.Email
        </th>
        <th>
            @Model.Birth
        </th>
        <th>
            @Model.Priority
        </th>
        <th>
            @Model.Created
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name.
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Birth
            </td>
            <td>
                @item.Priority.GetDisplayName()
            </td>
            <td>
                @item.Created
            </td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-action="Index">Powrót</a>